.App {
  text-align: center;
}

.navbar {
  background-color: #000000;
  padding: 1rem;
  color: black;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.round-button {
  border-radius: 50%;
  border: none;
  padding: 1rem;
  justify-content: flex-start;
  cursor: pointer;
  background-color: #61dafb;
  color: white;
  font-size: 1.5rem;
}

.round-button.on {
  background-color: green;
}

.round-button.off {
  background-color: red;
}

.content {
  padding: 1rem;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.input-group {
  margin: 0 1rem;
}

input[type="number"] {
  width: 100px;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

button[type="button"] {
  background-color: #61dafb;
  border: none;
  color: white;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.swicth input {
  
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .profile-svg {
    margin-top: 20px;
    border: 1px solid #ccc;
  }

  footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(0, 0, 0);
  color: white;
  }
  

